#loading {
  @include transition();

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  background: rgba(black, 0.5);
  opacity: 0;
  z-index: 1040;

  &.show {
    opacity: 1;
  }
}
