.home_main {
  overflow: hidden;
  position: relative;
  padding-top: 6rem;

  .half {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include _lg {
      flex: 0 0 100%;
    }

    p {
      font-size: 1rem;
      line-height: 154.52%;
      margin-top: 2.5rem;
      color: #fff;
      max-width: 564px;
      padding-right: 4rem;

      @include _lg {
        max-width: 100%;
        padding-right: 0;
      }
    }

    &:first-child::before {
      content: '';
      position: absolute;
      background-color: $secondary;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      z-index: -1;

      @include _lg {
        width: 100%;
        height: 50%;
      }
    }

    &:last-child::before {
      content: '';
      position: absolute;
      background-color: #fcdf51;
      top: 0;
      right: 0;
      width: 50%;
      height: 100%;
      z-index: -1;

      @include _lg {
        top: initial;
        bottom: 0;
        width: 100%;
        height: 50%;
      }
    }

    video {
      position: relative;
      left: -3rem;
      margin-top: 5rem;
      width: 50vw;
      max-width: 970px;

      @include _lg {
        left: 0;
        margin-top: -1rem;
        margin-bottom: 3rem;
        width: 100%;
      }
    }
  }

  .hotNews {
    &__navs {
      position: absolute;
      z-index: 90;
      top: 1.3rem;
      right: 1rem;

      .swiper-button-disabled {
        opacity: 0.5;
      }
    }

    button {
      border: 0;
      width: 18px;
      height: 22px;
      margin: 0 0.3rem;

      &:first-child {
        background-color: #fff;
        mask: url('../images/arrow-right.svg') no-repeat center / contain;
        -webkit-mask: url('../images/arrow-right.svg') no-repeat center /
          contain;
      }

      &:last-child {
        background-color: #fff;
        mask: url('../images/arrow-left.svg') no-repeat center / contain;
        -webkit-mask: url('../images/arrow-left.svg') no-repeat center / contain;
      }
    }

    &__photo {
      height: 100%;
      max-height: 190px;
      object-fit: cover;
    }

    &__description {
      h3 {
        font-family: 'TTNorms', sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 150%;
        color: #fff;
      }

      p {
        max-width: 370px;
        color: #fff;
      }
    }
  }

  .slug {
    font-size: 18px;
    line-height: 145.02%;
  }

  .bg-light {
    background-color: $light;
  }
}

.news {
  .swiper {
    padding-top: 5.5rem;
  }

  .swiper-wrapper {
    padding-bottom: 1rem;
  }

  &__filters {
    margin-bottom: -2.5rem;
    position: relative;
    z-index: 10;
    padding-inline: 15px;

    @include _xl {
      overflow-x: scroll;
      display: flex;
      width: calc(100% - 100px);
      padding-bottom: 1rem;
      margin-bottom: -3.5rem;
    }
  }

  .news__navs {
    position: absolute;
    z-index: 90;
    top: 0;
    right: 0;

    button {
      background-color: #faf9f3;
      display: flex;
      padding: 10px;

      &:hover {
        background-color: $warning;
      }
    }

    .swiper-button-disabled {
      background-color: #eee;

      &:hover {
        background-color: #eee;
      }
    }

    img {
      width: 14px;
      height: auto;
    }
  }

  button {
    border: 0;
    background-color: #fff;

    &.swiper-filter {
      border: 1px solid #d2d2d2;
      box-sizing: border-box;
      border-radius: 70px;
      padding: 10px 30px;
      font-size: 15px;
      margin-inline-end: 1rem;
      white-space: nowrap;

      &.swiper-active {
        background: #000000;
        border: 1px solid #000000;
        font-weight: bold;
        color: #fff;
      }
    }
  }

  .news__single {
    width: 100%;
    max-width: 350px;
    overflow: hidden;
    transition: all 0.4s ease;
    padding: 10px;

    &:hover {
      box-shadow: 0px 40px 43px rgba(0, 0, 0, 0.03);
    }

    iframe,
    img {
      object-fit: cover;
      width: 100%;
      height: 220px;
    }

    .twitter_link {
      height: auto;
      width: auto;
    }

    .data {
      font-size: 14px;
      padding-top: 0.8rem;
      line-height: 150%;
      color: rgba(0, 0, 0, 0.73);
    }

    .title {
      font-weight: bold;
      font-size: 20px;
      line-height: 24px;
      color: #000000;
    }

    .description {
      font-weight: 500;
      font-size: 16px;
      line-height: 160%;
    }
  }

  .news-pagination {
    text-align: center;
    padding-top: 3rem;
  }
}

.canHelp {
  background-color: $secondary;

  h2 {
    font-weight: bold;
    font-size: 3rem;
    line-height: 120%;
    color: #fff;
  }

  p {
    font-size: 18px;
    line-height: 155%;
    color: #fff;

    span {
      color: $warning;
      font-weight: 500;
    }
  }

  h3 {
    color: $warning;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 35px;
    line-height: 155%;
  }

  &__btns {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;

    a {
      text-transform: uppercase;
      border: 1px solid #fff;
      width: calc(50% - 20px);
      font-weight: bold;
      font-size: 13px;
      padding: 10px 0;
      margin: 10px;
      color: #fff;

      @media screen and (max-width: 550px) {
        width: 100%;
      }

      &:hover {
        font-weight: 700;
        background-color: $warning;
        border-color: $warning;
        opacity: 1;
      }
    }
  }
}

.movement {
  background-color: #faf9f3;
  padding: 6rem 0 4rem;

  &__description {
    font-size: 18px;
    line-height: 155%;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 1rem;
  }

  &__subtitle {
    font-weight: bold;
    font-size: 24px;
    line-height: 134.02%;
    max-width: 650px;
    margin: 2rem auto;

    span {
      color: $secondary;
    }
  }

  .swiper {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  &__navs {
    position: absolute;
    z-index: 90;
    top: 0;
    right: 0;

    .swiper-button-disabled {
      opacity: 0.5;
    }

    img {
      width: 18px;
      height: auto;
    }
  }

  button {
    border: 0;
    background-color: #fff;
    display: flex;
    padding: 10px;

    &:hover {
      background-color: $warning;
    }

    img {
      width: 14px;
    }
  }

  &__single {
    width: 100%;
    max-width: 342px;
    min-height: 540px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0px 30px 61px rgba(0, 0, 0, 0.03);

    .single_description {
      font-size: 16px;
      line-height: 160%;
    }
  }

  &__attachment {
    max-width: 342px;
    height: 100%;
    max-height: 216px;

    img {
      object-fit: cover;
      width: 100%;
      max-height: 220px;
    }
  }

  &__dateLink {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 1rem;

    .date {
      color: rgba(0, 0, 0, 0.63);
    }
  }

  &__localeMembers {
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.63);
  }

  &__tags {
    margin-bottom: 0;

    span {
      font-size: 16px;
      line-height: 20px;
      font-weight: 500;
      color: $secondary;
    }
  }
}

.sanctions {
  padding: 6rem 0 5rem;

  &__description {
    font-size: 18px;
    line-height: 155%;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 1rem;
  }

  .swiper {
    padding-top: 5.5rem;
    padding-bottom: 3rem;
  }

  .sanctions__navs {
    position: absolute;
    z-index: 90;
    top: 0;
    right: 0;

    button {
      background-color: #faf9f3;
      display: flex;
      padding: 10px;

      &:hover {
        background-color: $warning;
      }
    }

    .swiper-button-disabled {
      background-color: #eee;

      &:hover {
        background-color: #eee;
      }
    }

    img {
      width: 14px;
      height: auto;
    }
  }

  button {
    border: 0;
    background-color: #fff;

    &.swiper-filter {
      border: 1px solid #d2d2d2;
      box-sizing: border-box;
      border-radius: 70px;
      padding: 10px 30px;
      font-size: 15px;
      margin-inline-end: 1rem;

      &.swiper-active {
        background: #000000;
        border: 1px solid #000000;
        font-weight: bold;
        color: #fff;
      }
    }
  }

  &__single {
    width: 100%;
    max-width: 342px;
    min-height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 29px 35px rgba(0, 0, 0, 0.06);

    .title {
      font-weight: bold;
      font-size: 20px;
      line-height: 24px;
      margin: 1rem 0;
    }

    .description {
      font-size: 14px;
      line-height: 160%;
      color: rgba(0, 0, 0, 0.73);
    }
  }

  &__attachment {
    max-width: 342px;
    height: 100%;
    max-height: 216px;

    img {
      object-fit: cover;
      width: 100%;
      max-height: 220px;
    }
  }

  &__dateLink {
    padding-top: 1rem;

    .date {
      color: rgba(0, 0, 0, 0.63);
    }
  }
}

.petitions {
  background-color: rgba(237, 233, 214, 0.3);
}

.donation .sanctions__description span {
  color: $secondary;
}
